.container__about--mySelf {
    width: 100%;
    height: 100vh;
    margin-bottom: 1rem;

    .container__about--mySelf--title {
        text-align: center;
        font-size: 3rem;
    }

    .container__about--mySelf--text {
        text-align: justify;
        text-indent: 1rem;
        margin: 3rem 2rem;
        font-size: x-large;
    }

    .container__about--mySelf--images {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 5rem;
    }

    img {
        width: 15rem;
        border: 1px solid white;
        padding: 0.5rem;
    }

    .container__about--mySelf--image-right {
        width: 20rem;
    }
}