.container__projects {
    width: 100%;
    height: 100vh;
}

.container__projects .container__projects--section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container__projects .container__projects--section .container__projects--title {
    font-size: 3rem;
    margin: 2rem;
}

.container__projects .container__projects--section .container__projects--list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    overflow: hidden;
}

.container__projects .container__projects--section .container__projects--list .container__projects--list-item {
    width: 15rem;
}