:root {
    --primary-color: #06080D;
    --gradient-color-1: #6B6CE8;
    --gradient-color-2: #98447D;
    --gray-color: #9999A1;
    --platinum-color: #E6E6E9;
    --text-color: #F4F4F6;
    --font: ;
    --gradient: linear-gradient(90deg, var(--gradient-color-1) 80%, var(--gradient-color-2) 20%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);
}