.header {
    height: 100vh;
    width: 100%;
    text-align: center;

    .header__menu {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .header__nav {
        width: 100%;
        border-bottom: 1px solid white;
        position: fixed;
        background-color: var(--tertiary-color);
        z-index: 1;
    }

    #header__nav--list-image-logo{
        position: relative;
        top: 1.2rem;
        right: 14%;
        padding: 0;
        background: none;
        border: none;
        cursor: default;
        
        img{
            width: 2rem;
        }
    }

    #header__nav--list-image-switchTheme{
        position: relative;
        top: 0.6rem;
        right: 0;
        left: 14%;
        padding: 1rem;
        background: none;
        border: none;
        cursor: pointer;
        
        img{
            width: 2rem;
        }
    }

    .header__nav--list-item{
        display: inline-flex;
        font-size: large;
        padding: 2rem 1rem;
    }

    .header__nav--list-item a:visited{
        text-decoration: none;
        color: white;
    }

    .hover__darkTheme {
        padding: 1rem;
        background: linear-gradient(to top, #a6a6a642, #262626);
        border-bottom: 1px solid var(--quinary-color);
        cursor: pointer;
    }

    .hover__clearTheme {
        @extend .hover__darkTheme;
        background: linear-gradient(to top, #26262642, #a6a6a642);
        border-bottom: 1px solid var(--secondary-color);
    }

    .header__title {
        background-image: linear-gradient(to bottom, #26262607, #262626), url('../assets/images/header/Image-header.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 5.6rem;
        height: 90vh;
    }

    .header__clearTheme-title {
        background-image: linear-gradient(to top, rgba(166, 166, 166, 1), rgb(166, 166, 166, 0)), url('../assets/images/header/Image-header.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 5.6rem;
        height: 90vh;
    }

    .header__title--text {
        display: grid;
        align-items: center;
        height: 100vh;
        font-size: 4rem;
        max-height: 90%;
    }
}

@media (width: 320px) {
    .header {
        .header__nav--list-item{
            font-size: small;
            padding: 0.3rem;
        }

        #header__nav--list-image-switchTheme{   
            position: relative;
            top: 0.2rem;
            right: 0;
            left: 1%;
        }
    }
}

@media (min-width: 320px) and ( max-width: 425px) {
    .header{
        width: 100%;
    
    .header__menu {
        display: flex;
        justify-content: center;
    }

    .header__nav {
        width: 100vw;
        position: absolute;
    }

    #header__nav--list-image-logo{ 
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 1rem;
        top: 0.5rem;
        right: 0;
    
        img{
                width: 1rem;
        }
    }

    #header__nav--list-image-switchTheme{   
        position: relative;
        top: 0.2rem;
        right: 0;
        left: 2%;
        background: none;
        border: none;
        cursor: pointer;
        
        img{
            width: 1rem;
        }
    }

    .header__nav--list-item{
        font-size: small;
        padding: 0.5rem;
    }

    .header__nav--list-item a:visited{
        text-decoration: none;
        color: white;
    }

    .header__title {
        background-size: cover;
    }

    .header__title--text {
        display: grid;
        align-items: center;
        height: 100vh;
        font-size: 2.5rem;
        max-height: 90%;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
    }
    }    
}

@media (min-width: 426px) and ( max-width: 768px) {
    .header{
        width: 100%;
    
    .header__menu {
        display: flex;
        justify-content: center;
    }

    .header__nav {
        width: 100vw;
        position: absolute;
    }

    #header__nav--list-image-logo{ 
        
        position: relative;
        margin-bottom: 1rem;
        top: 0.5rem;
        right: 0;
    
        img{
                width: 1rem;
        }
    }

    #header__nav--list-image-switchTheme{   
        position: relative;
        top: 0.2rem;
        right: 0;
        left: 2%;
        background: none;
        border: none;
        cursor: pointer;
        
        img{
            width: 1rem;
        }
    }

    .header__nav--list-item{
        font-size: small;
        padding: 0.5rem;
    }

    .header__nav--list-item a:visited{
        text-decoration: none;
        color: white;
    }

    .header__title {
        background-size: cover;
    }

    .header__title--text {
        display: grid;
        align-items: center;
        height: 100vh;
        font-size: 2.5rem;
        max-height: 90%;
    }
    }    
}